@import "libs/reset";
@import "libs/colors_light";
@import "libs/colors_dark";
@import "libs/mixins";
@import "libs/themeColors";
@import "libs/polices";
@import "communs/overlay";
@import "communs/dark_switch";
@import "communs/alertes";
@import "communs/footer";
@import "communs/header";
@import "communs/menu";
@import "communs/containing";

// fonts
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Mono', monospace;

// Utilisez les variables de couleur dans votre feuille de style

.body {
  background: linear-gradient(270deg, var(--bg_1) 0%, var(--components_1) 100%);
  color: var(--text_2);
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: "Roboto", sans-serif;
  display: flex;
  transition: all 0.3s;
}

.dnone {
  display: none;
}